<form #commentForm="ngForm" (ngSubmit)="add_post()" class="posts-form">
  <div class="input-group">
    <input type="text"
      [(ngModel)]="post"
      name="post"
      class="form-control"
      placeholder="What is on your mind?"
      [disabled]="!has_user"
      required>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit"
        [disabled]="!has_user || !commentForm.form.valid || post === ''">
        <fa-icon icon="paper-plane"></fa-icon>
      </button>
    </div>
  </div>
</form>
