node_modules

.tmp
*~
*#
.DS_STORE
Thumbs.db
.netbeans
nbproject
.idea
.node_history
dump.rdb
npm-debug.log
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
lib-cov
*.seed
*.log
*.out
*.pid

/dist
/tmp
/out-tsc

backend/config/local.js
