<div *ngIf="post != null" class="post">
  <div class="text">{{ post.text }}</div>
  <div class="post-footer">
    <span class="username">{{ post.user.name }}</span>
    <span class="date">{{ post.created_at | date: 'h:mm a, MMM d, y' }}</span>
  </div>

  <div class="comments" *ngFor="let comment of post.comments">
    <div class="text">{{ comment.text }}</div>
    <div class="comment-footer">
      <span class="username">{{ comment.user.name }}</span>
      <span class="date">{{ comment.created_at | date: 'h:mm a, MMM d, y' }}</span>
    </div>
  </div>

  <form *ngIf="user_service.has_user" #commentForm="ngForm" (ngSubmit)="add_comment(comment)" class="comments-form">
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" placeholder="Reply to this post..." required #comment>
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-secondary" type="submit">
          <fa-icon icon="paper-plane"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
